.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    margin-left: 5px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.banner{
  padding-left: 14.3%;
  padding-right: 14.3%;
}

.row{
  padding-left: 15%;
  padding-right: 15%;
}

.centered {
    position: absolute;
    top: 161.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 205%;

}
