.card-product .img-wrap {
    height: 220px;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
}

.bannershop{
  text-align: center;
}

.wrapper{
  padding-left: 8%;
}

.price-wrap{
  float: right;
}
